<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.ClassTeacherMapper">
<!--    ClassTeacher queryClassTeacherByTeacherId(int id);-->
    <select id="queryClassTeacherByTeacherId" resultType="classTeacher">
        SELECT * FROM class_teacher where teacher_id = #{id};
    </select>
</mapper>